.sidebar-aside {
    display: block;
    width: 220px;
    background-color: #4C63AC;
    padding: 10px;
    border-right: 3px solid #092C8A;
}

.sidebar-ulist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-ulist-item:hover {
    background-color: #FF9A00;
    cursor: pointer;
}