.postcard-article {
    margin: 5px;
    padding: 10px;
    background-color: var(--color-surface);
    color: var(--color-text-main);
    border: 2px solid #8F9BBD;
    border-radius: 5px;
    cursor: pointer;
}